.ui-form{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.ui-form-base{
    background-color: #f2f1f7;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.ui-form label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.ui-form input{
    font: inherit;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    max-width: 100%;
    border-radius: 6px;
}
.field button{
    text-align: right;
}